body {
  background-color: #060c1d;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Helvetica, Verdana;
  overflow: hidden;
}
#igrica {
  border: 5px solid white;
  background-color: black;
}
